body{

    align-items: center;
    font-family: sans-serif;
    padding: 5px;
}
img{

width: 200px;
height: 300px;


}
h1{
    font-family: sans-serif;
    align-items: center;
    left: 50;

}
h2{
    font-family: sans-serif;
    align-items: center;
    left: 50;

}
h3{
    font-family: sans-serif;
    align-items: center;
    left: 50;

}